@font-face {
  font-family: 'SF Pro Text';
  src: url('SF-Pro-Text-LightItalic.woff2') format('woff2'),
       url('SF-Pro-Text-LightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
