@font-face {
  font-family: 'SF Pro Text';
  src: url('SF-Pro-Text-RegularItalic.woff2') format('woff2'),
       url('SF-Pro-Text-RegularItalic.woff2') format('woff');
  font-weight: 400;
  font-style: italic;
}
