@font-face {
  font-family: 'SF Pro Text';
  src: url('SF-Pro-Text-SemiboldItalic.woff2') format('woff2'),
       url('SF-Pro-Text-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
